---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
  namespace: develop
  labels:
    app: app1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo 'hola 1!' > /usr/share/nginx/html/index.html && \
            nginx -g 'daemon off;'